.child {
  position: relative;
  top: 100;
  float: right;
  display: grid;
  width: 80%;
  /* Define Auto Row Size */
  grid-auto-rows: 100px;
  /* Define our columns */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}

.secondchild {
  position: relative;
  top: 0;
}

.filter {
  position: fixed;
  float: left;
  top: 45%;
  width: 20%;
}
article{

  border-radius: 10px;
  padding: 20px;
  color: #fff;
  background-color: #55bbe9;
}

* {
  font-family: cursive;
}
